.BackGround {
  height: 100vh;
  width: 180vh;
  background-color: #DBDBDB;
  margin-left: 120px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.Container {
  display: grid;
  height: 65vh;
  width: 120vh;
  background-color: #FFFFFF; 
  grid-template-columns: 1fr 1fr;
}

.Col-Left {
  background-image: url("img/login.jpg");
  background-repeat: no-repeat;
  background-Position: 'center';
  background-size: cover;
  height: 65vh;     
  margin: 0;
}

.Col-Right {
  display: grid;
  grid-template-rows: 8vh 10vh 10vh;
}

.Form-Title {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  color: #34495E
}

.Form-Login {
  display: grid;
  grid-template-rows: 35vh 10vh;
}

.Login-Btn {
  background: #34495E;
  color: 	#FFFFFF;
  border: none;
  border-radius: 100px;
  width: 15vh;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
}

.Form-Button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Form-Inputs {
  display: grid;
  grid-template-columns: 0.3fr 3fr 0.3fr;
  grid-template-rows: 20vh 10vh;
}

.Col2{
  display: grid;
  grid-template-rows: 15vh 50vh 20vh;
}

.Form-Reset {
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
}

.Icon-Return {
  margin-top: 20px;
  margin-left: 20px;
  color: #34495E;
  height: 30px;
  width: 50px;
}

a {
  text-decoration: none;
  color: #34495E;
  font-size: 12px;
}

.Form-Label {
  color: #34495E !important;
  font-weight: bold !important;
  font-size: 20px !important;
}