.Background{
    top: 129px;
    left: 413px;
    width: 900px;
    height: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 23px;
    opacity: 1;
    margin-left: 180px;
    padding: s0px;
}
.Titulo{
    text-align: center;
    font: Bold 34px/43px Muli;
    letter-spacing: 0px;
    color: #34495E;
    opacity: 1;
    font-weight: bold;
    margin-bottom: 20px;
}
.Texto{
    text-align: left;
    font: Bold 24px/30px Muli;
    letter-spacing: 0px;
    color: #34495E;
    opacity: 1;
    font-weight: bold;
}
.OrganizarCampoComDois{
    display: grid;
    grid-template-columns: 60% 40% ;
    height: 80px;
}
.OrganizarCampoComTres{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 80px;
}
.BotaoCadastroUsuario{
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    color: #34495E;
    font-weight: bold;
    top: 58px;
    left: 1445px;
    width: 199px;
    height: 36px;
    margin-top: 5px;
}

.inputsCadastro {
    width: 90% !important;
    color: #34495E !important;
    font-weight: bold !important;
}

.labelsCadastro {
    color: #34495E !important;
    font-weight: bold !important;
}

.BotaoCriar {
    background-color: #34495E !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    width: 100px !important;
    height: 30px !important;
    font-size: 20px;
}
.linhaBotaoCriar {
    display: grid;
    grid-template-columns: 40% 40% 20%;
}